<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <style type="text/css">
        div{ padding: 4px 48px;} body{ background: #fff; font-family: "微软雅黑"; color: #333;}
        h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; }
        p{ line-height: 1.8em; font-size: 36px }
    </style>
</head>
<body >
<div style="font-size: 24px">
    <form action="{:U('Share/addShareItemWithActivity')}" enctype="multipart/form-data" method="post" >
        userid:<input type ="text" name="userid"/><br/>
        content:<input type ="text" name="content"/><br/>
        location:<input type ="text" name="location"/><br/>
        createtime:<input type ="text" name="createtime"/><br/>
        请选择图片：<input type="file" multiple name="share[]" /><br/>
        <input type="submit" value="提交" />
    </form>

</div>

</body>
</html>