<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>管理</title>
    <style type="text/css">
        div{ padding: 4px 48px;} body{ background: #fff; font-family: "微软雅黑"; color: #333;}
        h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; }
        p{ line-height: 1.8em; font-size: 36px }
    </style>
</head>
<body >

<div>
    <p>用户</p>
    <a href="{:U('Home/Test/registerTest')}">1.注册</a>
    <br/>
    <a href="{:U('Home/Test/loginTest')}">2.spbcn用户登录</a>
    <br/>
    <a href="{:U('testWeiboLogin')}">3.新浪微博用户登录</a>
    <br/>
    <a href="{:U('testWeixinLogin')}">4.微信用户登录</a>
    <br/>
</div>

<div>
    <p>banner</p>
    <a href="{:U('testAddBanner')}">1.添加banner</a>
    <br/>
    <a href="{:U('testGetBanner')}">2.查询所有banner</a>
    <br/>
</div>

<div>
    <p>share</p>
    <a href="{:U('testAddShareItem')}">1.添加share</a>
    <br/>

    <form action="{:U('Share/getShareItem')}" enctype="multipart/form-data" method="post" >
        <a>2.查询所有share（时间倒序）</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userid: <input type ="text" name="userid"/>
        <input type="submit" value="提交" />
    </form>

    <form action="{:U('Share/getShareItemBySupportNum')}" enctype="multipart/form-data" method="post" >
        <a>3.查询所有share（点赞数量倒序）</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userid: <input type ="text" name="userid"/>
        <input type="submit" value="提交" />
    </form>

    <a href="{:U('testSupport')}">4.share点赞</a>
    <br/>
    <a href="{:U('testAddShareItemWithActivity')}">5.添加带活动信息的share</a>
    <br/>
    <a href="{:U('Activity/getAllActivity')}">6.获取活动列表</a>
    <br/>
    <a href="{:U('getShareItemByActivityName')}">7.根据活动名称查询share</a>
    <br/>
    <a href="{:U('testAddStory')}">8.添加故事图片</a>
    <br/>

    <form action="{:U('Story/addStory')}" enctype="multipart/form-data" method="post" >
        <a>9.添加故事</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userid: <input type ="text" name="userid"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title: <input type ="text" name="title"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;content: <input type ="text" name="content"/>
        <input type="submit" value="提交" />
    </form>

    <a href="{:U('Story/getStory')}">10.查询所有故事（时间倒序）</a>

    <form action="{:U('Story/getStoryById')}" enctype="multipart/form-data" method="post" >
        <a>11.根据故事id查询故事</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id: <input type ="text" name="id"/>
        <input type="submit" value="提交" />
    </form>

    <form action="{:U('Support/addStorySupport')}" enctype="multipart/form-data" method="post" >
        <a>12.对故事点赞</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;storyid: <input type ="text" name="storyid"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userid: <input type ="text" name="userid"/>
        <input type="submit" value="提交" />
    </form>

    <form action="{:U('Story/addReply')}" enctype="multipart/form-data" method="post" >
        <a>13.故事加评论</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;storyid: <input type ="text" name="storyid"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;content: <input type ="text" name="content"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userid: <input type ="text" name="userid"/>

        <input type="submit" value="提交" />
    </form>

    <form action="{:U('Story/delReply')}" enctype="multipart/form-data" method="post" >
        <a>14.故事删评论</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Replyid: <input type ="text" name="id"/>
        <input type="submit" value="提交" />
    </form>

    <form action="{:U('Story/getReply')}" enctype="multipart/form-data" method="post" >
        <a>15.获取故事评论</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;storyid: <input type ="text" name="storyid"/>
        <input type="submit" value="提交" />
    </form>

    <!--<a href="{:U('App/mReadData')}">2.查询所有数据</a>-->
    <!--<br/>-->
    <!--<form action="{:U('App/mReadDataById')}" enctype="multipart/form-data" method="get" >-->
        <!--<a>3.根据id查询数据</a>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dataid: <input type ="text" name="dataid"/>-->
        <!--<input type="submit" value="提交" />-->
    <!--</form>-->
    <!--<a href="{:U('App/mReadDataByUpdateTime')}">4.根据更新日期查询数据</a>-->
    <!--<br/>-->
    <!--<a href="{:U('App/mReadDataByRank')}">5.根据rank查询数据</a>-->
    <!--<br/>-->
</div>

<div>
    <!--<p>Device接口测试</p>-->
    <!--<a href="__MODULE__/Device/index">1.数据添加接口</a>-->
    <!--<br/>-->
    <!--<a href="__MODULE__/Device/mReadData">2.查询所有数据</a>-->
    <!--<br/>-->
    <!--<a href="__MODULE__/Device/mReadDataByIdTest">3.根据id查询数据</a>-->
    <!--<br/>-->
    <!--<a href="__MODULE__/Test/insertData">4.导入数据</a>-->
</div>

</body>
</html>